.container {
  padding: 30px;
  border-radius: 4px;
}

.vendas-table {
  width: 100%;
}

.vendas-table thead th {
  color: #999;
  text-align: center;
  padding: 12px;
}

.vendas-table tbody td {
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.vendas-table button {
  background: #4090cf;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.2s;
}

.vendas-table button:hover {
  background: var(--color-column);
}
