.sales-history-container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 970px;

}

.sales-history-container .sales-history {
  display: flex;
  width: 84.8%;
  height: 40px;
  margin-bottom: 1px;
}

.sales-history-color {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-main);
  color: var(--color-text);
  font-size: 1.6rem;
  margin-right: 2px;
}

.sales-history-container .sales-history .day {
  width: 5%;
  height: 100%;
}
.sales-history-container .sales-history .amount-items {
  width: 30%;
  height: 100%;
}
.sales-history-container .sales-history .value {
  width: 30%;
  height: 100%;
}