.main-page-title {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 970px;
}

.page-title {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 84.8%;
  
  height: 14.375rem;
}

.page-title .title, .year{
  font-size: 1.875rem;
  color: var(--color-title);
}

.page-title .sub-title {
  font-size: 50px;
  color: var(--color-subtitle);
}

.sub-title {
  display: flex;
  justify-content: space-between;
}

.sub-title-content {
  margin-right: 450px;
}
