.basic-pagination {
  display: flex;
  justify-content: center;
  margin-top: 1px;
  min-width: 970px;
}

.basic-pagination {
  display: flex;
  justify-content: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84.8%;
  
  height: 6rem;

  background-color: var(--color-main);
  padding: 2px
}

.basic-pagination .MuiPagination-ul button {
  color: white;
  font-size: 1.6rem;
}