.selected-items {
  display: flex;
  justify-content: center;
  margin-top: 1px;
}

.selected-items-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 84.8%;

  height: 6rem;
  background-color: var(--color-main);
}

.buttons-conteiner {
  margin-right: 20px;
}

.buttons-conteiner button {
  margin-left: 20px;
  background-color: #fff;
  padding: 9px;
  border: none;
  border-radius: 1rem;
  font-weight: 500;
  transition: 0.4s;
  font-size: 1.8rem;
}

.buttons-conteiner button:hover {
  background-color: #cecece;
  cursor: pointer;
  outline: none;
}

/* Modal Styles*/

.register-book-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #fff;

  background-color: var(--color-main);
}

.form-add-item {
  height: auto;
}

.form-add-item form {
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
  flex-direction: column;
}

.form-add-item form label {
  width: 300px;
  text-align: center;
  background-color: var(--color-main);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.form-add-item form input {
  width: 300px;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 10px;
  outline: none;
}

.register-book-buttons {
  display: flex;
  width: 44%;
  height: 90px;
}

.register-book-buttons button {
  width: 120px;
  height: 50px;
  padding: 10px;

  background-color: var(--color-main);
  color: #fff;
  border-radius: 10px;
}
