:root {
  --color-main: #4090cf;
  --color-column: #1e6499;
  --color-text: #ffffff;
  --color-title: #b5b5b5;
  --color-input: #b5b5b5;
  --color-subtitle: #000;
  --color-border-book: #8fade9;
  --color-checkbox-book: #459fcf;
  --color-background: #fff;
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
}

#root {
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 1.6rem Quicksand;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}
